.friendMessage {
    display: flex;
    padding-bottom: 40px;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;

}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    /*flex-direction: row-reverse;*/
}

.friendImageAndText img {
    height: 40px;
    padding-right: 10px;
}

.friendText {
    /*flex-direction: row-reverse;*/
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color:ghostwhite;
    color: black;
    border-radius:10px;
    border-end-start-radius: 0px;
    text-align: -webkit-right;
}

.friendText:after {
    content: '';
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid ghostwhite;
    top:5px;
    right: 157px;
}

.friendName {
    flex-direction: row;
    align-items: stretch;
    text-align: -webkit-left;
    padding-bottom: 5px;
    background-color:ghostwhite;
    color: black;
    font-weight: bold;

}

.friendMessageText {
    align-items: start;
    overflow-wrap: break-word;
    text-align: -webkit-right;
}

.friendTime {
    display: flex;
    justify-content: left;
    padding: 5px 7px 10px 5px;
    font-size: 10px;
    font-weight: bold;
}
