.sendForm {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-areas:
  'in in on';

    grid-template-rows: 30px 40px;
    grid-template-columns: 5fr 5fr;
    grid-gap: 10px;


}

.textarea {
    grid-area: in;
    background-color: ghostwhite;
    border: grey;
    border-radius:20px;
    padding-left: 15px;
    padding-top: 5px;
    color:grey;
    box-shadow: grey;
    resize: none;
    min-height: 30px;
    /*min-width: 100px;*/
    /*top:100%;*/
    height: 35px;

}

.button {
    grid-area: on;

    background-color:dodgerblue;
    color: white;
    border:none;
    border-radius:20px;
    flex-direction: row-reverse;
    width: 100px;

}

.button:hover {
    color: white;
}
.button:active {
    color: purple;
}
